django
elasticsearch
facebook-sdk
feedparser
textblob
python-twitter
django-haystack
mysqlclient
python3-memcached
google-api-python-client
python-amazon-simple-product-api
clint
python-dotenv
Pillow
uwsgi
raven
ipaddress
django-ipware
uvloop
wordcloud
git+git://github.com/codelucas/newspaper