{% load i18n %}

{% if is_paginated %}
{{ request.GET.get.page }}
  <nav>
		<ul class="pagination">
					{% if page_obj.has_previous %}
						<li class="page-item"><span class="page-link"><a href="{{ base_url}}/{{ kwargs.year }}/page/{{ page_obj.previous_page_number }}/">{% trans "Previous" %}</a></span></li>
					{% endif %}

					{% for page in page_obj.paginator.page_range %}
						<li class="page-item"><span class="page-link"><a href="{{ base_url}}/{{ kwargs.year }}/page/{{ page }}/">{{ page }}<span class="sr-only">(current)</span></a></span></li>
					{% endfor %}

				  {% if page_obj.has_next %}
						<li class="page-item"><span class="page-link"><a href="{{ base_url}}/{{ kwargs.year }}/page/{{ page_obj.next_page_number }}/">{% trans "Next" %}</a></span></li>
				  {% endif %}
		</ul>
	</nav>

{% endif %}
