{% extends "./base.html" %}
{% load i18n %}

{% block title %}Today At {{ sitename }}{% endblock %}

{% block header %}
    <h3 class="display-3">Today at {{ sitename }}</h3>
{% endblock %}

{% block content %}

{% for post in posts.all  %}
{% spaceless %}
		<div class="card">
      {% if advert %}
      <p>&nbsp;</p>
        {% if forloop.counter == 1 or forloop.counter == 3  or forloop.counter == 7 %}
                {% autoescape off %}{{ advert }}{% endautoescape %}
        {% endif %}
      {% endif %}
				<div class="card-block">
						<h3 class="card-title"><a href="{% url 'post_detail' post.slug %}">{{ post.title|safe|capfirst }}</a>&nbsp;<small class="text-active {{ sentiment_color }}">[{{ post.sentiment }}]</small></h3>
							<h6 class="card-subtitle text-muted">Posted on {{ post.date }} by <a href="{{ base_url }}/source/{{ post.category.slug }}/">{{ post.category }}</a> @ <a href="{{ post.url }}">[direct link]</a></p>
				</div>
				<div class="card-block">
						{% if post.image %}<img src="{{ base_url }}/{{ post.image }}" class="img-responsive img-thumbnail">{% endif %}
						<p class="card-text">{% autoescape off %}{{ post.summary }}{% endautoescape %}</p>
{% endspaceless %}
							{% if post.tags.all %}
								{% for tag in post.tags.all %}
									<a href="{{ base_url }}/tag/{{ tag.slug }}/" class="card-link">{{ tag|safe }}</a>
								{% endfor %}
								{% endif %}
				</div>
		</div>
{% empty %}
<h4 class="card-title">{% trans "Nothing here yet for today." %}</h4>
{% endfor %}

{% endblock %}
